#!/bin/sh

# Temp directory.  Used by Ghostscript
TISTMPDIR=/tmp
export TISTMPDIR

# Where did you install tis-clone?
BASE=$HOME/tis-clone

# Where should configs be stored?
CONFIG_DIR=$HOME/.tis

# HTTP cookie file location used to cache authentication
COOKIES=$CONFIG_DIR/cookies.txt

# Where are your tis-clone scripts?
SCRIPT_BASE=${BASE}/scripts

# Where do you want to download the files?
DOWNLOAD_TO=$HOME/tis-download

# WGET command.  You shouldn't need to touch this unless wget is not in your $PATH or you modified $BASE above
# # We add a 2/10th of a second wait between downloads because if wget pulls too fast you'll get logged out as having duplicate sessions.  If you're 
# getting logged out during a download try increasing -w 0.2 to something like -w 0.5 or -w 1.  
WG="wget -w 0.2 --keep-session-cookies --load-cookies $HOME/.tis/cookies.txt  -U 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:57.0) Gecko/20100101 Firefox/57.0' -m --no-check-certificate "
WG_NOMIRROR="wget -w 0.2 --keep-session-cookies --load-cookies $HOME/.tis/cookies.txt  -U 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:57.0) Gecko/20100101 Firefox/57.0' -l 1 --no-check-certificate "

# If you have an existing website that you want to merge your download into, provide the folder here.  
# If you are planning to copy the download to another computer, you should use the working (download) folder
FSM_URLBASE=${DOWNLOAD_TO}/techinfo.toyota.com

# Site where you registered for access to the FSM documents
WEBSITE="https://techinfo.toyota.com"

# If you have a public website URL for browsing the FSM, add it here.  If not we'll assume this gets set up as a
# local website which only you can see
MYURL="http://localhost"

# If you are hosting this locally, where is the root of the TIS site located?
MYURL_BASE="/var/www/html/tis"
